$container-height: 6rem;

.title-anim-container {
  display: flex;
  height: $container-height;

  .title {
    // display: flex;
    // flex-direction: column;
    font-size: $container-height;
    font-weight: 400;
    .title-cursor-wrapper {
      display: flex;
      .title-char {
        display: block;
      }
      .whitespace {
        // background-color: red;
        opacity: 0;
        height: 5.6rem;
        width: 1.6rem;
        // margin-top: 0.5rem;
        // margin-left: 1rem;
      }
      .title-cursor {
        background-color: red;
        height: 5.6rem;
        width: 3.2rem;
        margin-top: 0.5rem;
        margin-left: 1rem;
      }
    }
  }
}
