@import "../../../components/resources/var.scss";
.subTitle {
  font-size: 0.8rem;
  font-weight: 300;
  @media (min-width: $breakpoint-s) {
    font-size:1rem;
  }
  @media (min-width: $breakpoint-m) {
    font-size:1.3rem;
  }
  @media (min-width: $breakpoint-l) {
    font-size:1.5rem;
  }
  .subTitle-char {
    // display: inline;
  }
  .subTitle-cursor {
    background-color: red;
    height: 1.5rem;
    width: 0.9rem;
    display: inline-block;
    margin-left: 0.4rem;
    top: 0.23rem;
    position: relative;
  }
}