// .title-anim-container.work-title{
//   height: 7rem;
// }
.gallery{
  margin: 1.2rem;
  .card-container{
    margin-bottom: 5rem;
    .tilt-container{
      transform-style: preserve-3d;
      // box-shadow: 0 30px 40px rgba(0,0,0,.1);
      width: 15rem;
      height: 21rem;
      background-color: rgb(39, 63, 197);
      // border: 3px solid black;
      border-radius: 0.5rem;
      // &:first-child{
      //   background-color: red;
      // }
      
        img{
          width: 100%;
          padding: 1rem;
          // border-radius: 0.5rem;
        }
        .layer-3d{
          transform: translateZ(60px);
      
        }
      }
  }
}

