.contact-main {
    position: absolute;
    // background-color: #fff;

    top: 10rem;
    left: 8rem;

    color: aliceblue;
    
    .title{
        display: flex;
        font-size: 4rem;
        font-weight: 400;
       p{
           &:nth-child(7){
               padding-right: 1rem;
           }
       }
    }

  
}