.contact-main {
    position: absolute;
    // background-color: #fff;

    top: 10rem;
    left: 8rem;

    color: aliceblue;
    font-size: 3.5rem;

    .title{
        display: flex;

    }

    p {
        // transform: scale(5);
    }
}