.about-main{
    .description{
        font-size: 1.5rem;
        font-weight: 200;
        padding-top: 2.4rem;
    }
    .skills-container{
        display: flex;
        .skills{
            margin: 5rem;
            span{
                font-size: 2rem;
                font-weight: 200;
            }
            ul{
                list-style: none;
                font-size: 1.1rem;
                font-weight: 300;
            }
        }
    }

}